<a href="https://colab.research.google.com/github/muhammad-28/ICT-internship-ML-AI/blob/day4/assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/content/Social_Network_Ads (2).csv')

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [5]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
for i in ['User ID', 'Age', 'EstimatedSalary', 'Purchased']:
  data[i] = data[i].fillna(data[i].median())

In [8]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
data.shape

(400, 5)

In [10]:
data.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [11]:
data1 = pd.get_dummies(data)

In [12]:
data.shape

(400, 5)

In [13]:
data.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [14]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encoder = LabelEncoder()

In [17]:
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [21]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [22]:
x

      User ID  Gender  Age  EstimatedSalary
0    15624510       1   19            19000
1    15810944       1   35            20000
2    15668575       0   26            43000
3    15603246       0   27            57000
4    15804002       1   19            76000
..        ...     ...  ...              ...
395  15691863       0   46            41000
396  15706071       1   51            23000
397  15654296       0   50            20000
398  15755018       1   36            33000
399  15594041       0   49            36000

[400 rows x 4 columns]

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42, test_size=0.2)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lr = LinearRegression()
model = lr.fit(x_train, y_train)
predictions = model.predict(x_test)

In [26]:
from sklearn.metrics import mean_squared_error, r2_score

In [27]:
print('mean squared error is:',mean_squared_error(y_test, predictions))
print('R squared value is:',r2_score(y_test, predictions))

mean squared error is: 0.09949629077064023
R squared value is: 0.5626536669422408

In [28]:
x.describe()

            User ID      Gender         Age  EstimatedSalary
count  4.000000e+02  400.000000  400.000000       400.000000
mean   1.569154e+07    0.490000   37.655000     69742.500000
std    7.165832e+04    0.500526   10.482877     34096.960282
min    1.556669e+07    0.000000   18.000000     15000.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000
max    1.581524e+07    1.000000   60.000000    150000.000000

In [29]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
min_max_scaler = MinMaxScaler(feature_range=(0,1))

In [31]:
x = min_max_scaler.fit_transform(x)

In [32]:
type(x)

numpy.ndarray

In [34]:
x = pd.DataFrame(x, columns=['User ID','Gender', 'Age', 'EstimatedSalary'])

In [35]:
type(x)

pandas.core.frame.DataFrame

In [36]:
x.shape

(400, 4)

In [37]:
x.describe()

          User ID      Gender         Age  EstimatedSalary
count  400.000000  400.000000  400.000000       400.000000
mean     0.502323    0.490000    0.467976         0.405500
std      0.288309    0.500526    0.249592         0.252570
min      0.000000    0.000000    0.000000         0.000000
25%      0.241704    0.000000    0.279762         0.207407
50%      0.513595    0.000000    0.452381         0.407407
75%      0.738991    1.000000    0.666667         0.540741
max      1.000000    1.000000    1.000000         1.000000