<a href="https://colab.research.google.com/github/muhammad-28/ICT-internship-ML-AI/blob/DAY-1/intershipDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=['bilal','muhammad','amina']
reverse=[]
  for i in range(len(name)):
    reverse.append(name)

SyntaxError: ignored

In [ ]:
a='* * * * * *'
for i in range(6):

 print (a)

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
i='*'
j='*'
for i in range(5):
 for j in range(5):
    print('*',end='')
  print('')

IndentationError: ignored

In [ ]:
print('hello world')

hello world

In [ ]:
print("welcome to",end='')

welcome to

In [ ]:
print("welcome to",end='!')

welcome to!

In [ ]:
print("\"welcome to\"")

"welcome to"

In [ ]:
print("muhammad\n"*3)

muhammad
muhammad
muhammad

In [ ]:
s="python"
print(s[])

print(len(s))

ytho
6

In [ ]:
for val in sequence:
  body of for

In [ ]:
a=[1,2,3,4,5,6]
for number in a:
   print(number)

1
2
3
4
5
6

functions

In [ ]:
def function_name(argument):

SyntaxError: ignored

In [ ]:
a=1
while a < 10:
  print (a)
  a += 2

1
3
5
7
9

In [ ]:
for val in 'string':
  if val == "i":
    continue
  print(val)
print("the end")

s
t
r
n
g
the end

In [ ]:
a=int(input('enter the number 1: '))
b=int(input('enter the number 2: '))
c=int(input('enter the choice sum=1,sub=2,mul=3,div=4'))
if c==1:
  s=a+b
  print(s)
elif c==2:
    s=a-b
    print(s)
elif c==3:
      s=a*b
      print(s)
elif c==4:
        s=a/b
        print(s)
else:
          print(error)

enter the number 1: 5
enter the number 2: 5
enter the choice sum=1,sub=2,mul=3,div=43
25

In [ ]:
num = int(input("Enter a number: "))
if num > 1: 
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

Enter a number: 15
15 is not a prime number

In [ ]:
a=int(input("enter the year:"))
if a%4==0 and a%400==0 or a%100!=0:
  print('leap year')
else:
  print('not a leap year')

enter the year:2020
leap year

In [ ]:
n=int(input("enter the number"))
s=0
for i in range(0,n+1):
  s=s+i
print(s)

enter the number3
6

In [ ]:
def greet():
  print('hello')


greet()

hello

In [ ]:
def add(num1,num2):
  s=num1+num2
  print(s)



add(5,6)

11

In [ ]:
def sqn(num1):
  s=num1*num1
  print(s)



sqn(5)

25

Assignment 1

In [ ]:
list=[1,5,3,14,25,21]
s=0
for i in list:
  s=s+i
  print("the sum is:",s)

the sum is: 1
the sum is: 6
the sum is: 9
the sum is: 23
the sum is: 48
the sum is: 69

In [ ]:
string = input("enter the string:")
print(len(string))

enter the string:muhammad
8

In [ ]:
string = input("enter the string:")
print(len(string))
print(len(string)//2)

enter the string:python
6
3

In [ ]:
s1 = input("enter the first string:")
s2 = input("enter the second string:")
newstring = s1+" "+s2
print("sum of two strings are:",newstring)
print(len(newstring))

enter the first string:python
enter the second string:techy
sum of two strings are: python techy
12

In [ ]:
t = (78, 45, 32, 19, 82, 77, 40, 39)
print("Original tuple:", t)
m = t[0:2] + (100,) + t[3:len(t)]
print("Modified tuple:", m)

Original tuple: (78, 45, 32, 19, 82, 77, 40, 39)
Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
lstA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
for i in range(len(lstA)):
    if lstA[i] == 32:
        del lstA[i]
        break

print("List after deleting first occurrence of 32:", lstA)
for i in range(len(lstA)):
    if lstA[i] == '40':
        del lstA[i]
        i -= 1

print("List after deleting all occurrences of 40:", lstA)
del lstA[5]
print("List after deleting value at index 5:", lstA)
lstA[9] = 300
print("List after modifying value at index 9 to 300:", lstA)
lstA = lstA[:2] + [200] + lstA[2:]
print("List after adding 200 at index 2:", lstA)
print("Final list:", lstA)
print("Length of list:", len(lstA))
p=lstA[1]
for i in range(2,len(lstA)):
    if p<lstA[i]:
      p=lstA[i]

print("Maximum value of list:", p)
s=0
for i in range(len(lstA)):
  s=s+lstA[i]
print("Sum of all elements in list:",s)

List after deleting first occurrence of 32: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
List after deleting all occurrences of 40: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
List after deleting value at index 5: [19, 10, 55, 31, 32, 29, 10, 65, 77, 40, 40]
List after modifying value at index 9 to 300: [19, 10, 55, 31, 32, 29, 10, 65, 77, 300, 40]
List after adding 200 at index 2: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300, 40]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300, 40]
Length of list: 12
Maximum value of list: 300
Sum of all elements in list: 868